/* put your css here */
.chatRoom-chat-box {
    flex-grow : 1;
}

.chatRoom-message {
    width: 90%;
}

.chatRoom-message-bar {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.chatRoom-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}

.form-buttons {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 20px;
    justify-content: center;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.error-page {
    margin-top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-or-login {
    display: grid;
    grid-template-columns: 60px 60px;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
